@import "@/mixins/paper.scss";

.root {
  @include paper;

  max-width: var(--paper-width);
  width: var(--paper-width);
  padding: 85px 70px 85px 95px;
  filter: drop-shadow(-15px 15px 30px rgba(0, 0, 0, 70%));
}