@import "@/mixins/paper";

.root {
  @include paper;

  max-width: var(--paper-width);
  width: var(--paper-width);
  padding-block: 85px 95px;
  padding-inline: 70px 85px;
  filter: drop-shadow(-15px 15px 30px rgb(0 0 0 / 70%));
}