.root {
  position: relative;
  display: grid;
  grid-template-areas: 't t t l' 's d d d' '. i i i';
  grid-template-columns: 240px 1fr 1fr 1fr;
  column-gap: 56px;
  margin-block-end: 45px;
}

.title {
  grid-area: t;
  font: var(--typography-headline-large);
  letter-spacing: 0.03em;
  margin-inline-start: -2px;
  color: var(--gray2);
}

.subtitle {
  grid-area: s;
  font: var(--typography-headline-medium);
  color: var(--gray1);
  letter-spacing: -0.01em;
}

.divider {
  align-self: center;
  grid-area: d;
  width: auto;
}

.info {
  grid-area: i;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--gray2);
  padding-block: 0;
  padding-inline: 10px;
}

.circle {
  position: absolute;
  inset-block-start: -40px;
  inset-inline-start: -40px;
}

.switcher {
  grid-area: l;
  color: var(--gray1);
  place-self: center flex-end;
}

.social {
  display: grid;
  height: 40px;
  grid-template-columns: auto 1fr;
  gap: 12px;
  align-items: center;
}