.root {
  position: relative;
  display: grid;
  grid-template-areas: 't t t l' 's d d d' '. i i i';
  grid-template-columns: 240px 1fr 1fr 1fr;
  column-gap: 56px;
}

.title {
  grid-area: t;
  font: var(--typography-headline-large);
  letter-spacing: 0.03em;
  margin-left: -2px;
  color: var(--gray2);
}

.subtitle {
  grid-area: s;
  font: var(--typography-headline-medium);
  color: var(--gray1);
  letter-spacing: -0.01em;
}

.divider {
  align-self: center;
  grid-area: d;
  width: auto;
}

.info {
  grid-area: i;

  height: 48px;
}

.circle {
  position: absolute;
  top: -40px;
  left: -40px;
}

.switcher {
  grid-area: l;
  color: var(--gray1);
  justify-self: flex-end;
  align-self: center;
}