.root {
  display: grid;
  grid-template-areas: 'w r' 'w d' 't d' '. d';
  grid-template-columns: var(--large-grid);
}

.work {
  grid-area: w;
}

.title {
  grid-area: r;
}

.description {
  grid-area: d;
}

.timeWrapper {
  grid-area: t;
  margin-block-start: 10px;
}

.time, .state, .timeWrapper {
  font: var(--typography-text-paragraph-small);
}
